name: Validate Branch Name

on:
  push:
    branches:
      - '**'  

jobs:
  validate-branch-name:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      
      - name: Check branch name
        run: |
          BRANCH_NAME="${GITHUB_REF##*/}"
          
          # Definir el patr칩n de la rama (por ejemplo, 'feature/', 'bugfix/', etc.)
          PATTERN="^feature[A-Z][a-zA-Z0-9]+$|^main$" 

          # Comprobar si el nombre de la rama coincide con el patr칩n
          if [[ ! "$BRANCH_NAME" =~ $PATTERN ]]; then
            echo "Error: El nombre de la rama '$BRANCH_NAME' no cumple con el patr칩n esperado."
            echo "Debe empezar con 'feature' o ser la propia rama "main"."
            exit 1  
          else
            echo "El nombre de la rama '$BRANCH_NAME' es v치lido."
          fi





